﻿<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Cục Vịt HTML CSS Template</title>
	<!--

	Template 2085 Neuron

	http://www.tooplate.com/view/2085-neuron

	-->
	<link rel="stylesheet" href="~/user/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/user/css/font-awesome.min.css">

	<!-- Main css -->
	<link rel="stylesheet" href="~/user/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

	<!-- PRE LOADER -->

	@*<div class="preloader">
		<div class="sk-spinner sk-spinner-wordpress">
			<span class="sk-inner-circle"></span>
		</div>
	</div>*@

	<!-- Navigation section  -->

	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a asp-controller="home" asp-acion="index" class="navbar-brand">Cục Vịt</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a asp-controller="home" asp-action="index">Home</a></li>
					<li><a asp-controller="about" asp-action="index">About</a></li>
					<li><a asp-controller="gallery" asp-action="index">Gallery</a></li>
					<li><a asp-controller="contact" asp-action="index">Contact</a></li>
				</ul>
			</div>

		</div>
	</div>
	@RenderBody()

	<footer>
		<div class="container">
			<div class="row">

				<div class="col-md-5 col-md-offset-1 col-sm-6">
					<h3>Neuron Studio</h3>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
					<div class="footer-copyright">
						<p>Copyright &copy; 2017 Your Company - Design: Tooplate</p>
					</div>
				</div>

				<div class="col-md-4 col-md-offset-1 col-sm-6">
					<h3>Talk to us</h3>
					<p><i class="fa fa-globe"></i> 512 Delicious Street, San Francisco, CA 10880</p>
					<p><i class="fa fa-phone"></i> 010-020-0990</p>
					<p><i class="fa fa-save"></i> info@company.com</p>
				</div>

				<div class="clearfix col-md-12 col-sm-12">
					<hr>
				</div>

				<div class="col-md-12 col-sm-12">
					<ul class="social-icon">
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-google-plus"></a></li>
						<li><a href="#" class="fa fa-dribbble"></a></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
					</ul>
				</div>

			</div>
		</div>
	</footer>

	<!-- Back top -->
	<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

	<!-- SCRIPTS -->

	<script href="~/user/js/jquery.js"></script>
	<script href="~/user/js/bootstrap.min.js"></script>
	<script href="~/user/js/particles.min.js"></script>
	<script href="~/user/js/app.js"></script>
	<script href="~/user/js/jquery.parallax.js"></script>
	<script href="~/user/js/smoothscroll.js"></script>
	<script href="~/user/js/custom.js"></script>

</body>
</html>
