﻿@model ProjectDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProjectDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
@using (Html.BeginForm("Create", "Project", FormMethod.Post))
    {            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name: </label>
                    @Html.TextBoxFor(m => m.Name)
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description: </label>
                    @Html.TextBoxFor(m => m.Description)
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary" >Create</button>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
